.fit-cover {
  object-fit: cover;
}
.nav-link:hover {
  color: #ffa500;
}

.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("../assets/img/fondo1.webp");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experiencia {
  background-color: #4273b8;
  /* height: 100vh; */
}

#experienciaBlanco {
  color: white;
}

#perfil {
  background-image: url("../assets/img/fondo2.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #4273b8;
}

i {
  color: #4273b8;
}

footer i:hover {
  color: #ffa500;
  transform: scale(1.3);
}

#div-totop i {
  color: #ffa500;
}

#div-totop i:hover {
  transform: scale(1.3);
  color: #ffa500;
}

.movimiento i:hover {
  color: #ffa500;
  transform: scale(1.5);
}

#foto {
  border-radius: 50%;
  border: 7px solid #4273b8;
}

#hboton {
  color: #ffa500;
  display:inline-block;
  padding-left: 3px;
}

#boton {
  padding: 0;
}

#barra{
  width: 45%;
}
#insta{
  border-radius: 50%;
}
