.fit-cover {
  object-fit: cover;
}

.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url('/assets/img/fondo1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#experiencia{
  background-color:#ffa500;
  /* height: 100vh; */
}

#perfil{
  background-image: url('/assets/img/fondo2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h2{
  color:#4273B8 ;
}

i{
  color: #4273B8  ;
}

footer i:hover {
  color: #ffa500;
  transform: scale(1.3);
}

#div-totop i:hover{
    transform: scale(1.3);
}

.movimiento i:hover{
  color: #ffa500;
  transform: scale(1.5);
}